@font-face {
	font-family: 'Roboto 500';
	src: url(roboto.woff2) format('woff2');
}

@font-face {
	font-family: 'Quicksand';
	src: url(quicksand.woff2) format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	src: url(montserrat.woff2) format('woff2');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url(montserrat-bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Rubik';
	src: url(rubik.woff2) format('woff2');
}

@font-face {
	font-family: 'Crimson Text';
	src: url(crimson-text.woff2) format('woff2');
}

@font-face {
	font-family: 'Vollkorn';
	src: url(vollkorn.woff2) format('woff2');
}


body {
  font-family: 'Quicksand';
  font-size: 15px;
  color: #373D3F;
}

.main-section {
  background-color: #e0dede;
}

.main-section-heading {
  font-family: 'Montserrat Bold';
  font-size: 55px;
  line-height: 70px;
}

.main-section-text {
  font-family: 'Quicksand';
  font-size: 20px;
}

.main-section-btn {
  background-color: #004380;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 600;
}

.main-section-btn:hover {
  background-color: #004380;
  color: lightgray;
}


.nav-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.nav-brand-text {
  font-family: 'Montserrat Bold';
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  color: gray;
}

.brand-a {
  color: #295b97;
}

.brand-b {
  color: #373D3F;
}

.smallTitle {
  font-family: 'Montserrat';
}

.btn-blue {
  background-color: #004380;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 600;
}

.btn-blue:hover {
  background-color: #004380;
  color: lightgray;
}

.serif-title {
  font-family: 'Crimson Text'
}

.detail-book-title {
  font-family: 'Montserrat Bold';
  font-size: 20px;
}

.container {
  justify-content: center;
  align-items: center;
}

.sidenav {
  height: 100%;
  top: 0;
}

.book-author {
  font-family: 'Montserrat';
  font-size: 10px;
  color: #373D3F;
}

.navbar-bg {
  background-color: white;
  box-shadow: 0px 1px 5px 0px #888;
}

.sidebar-title {
  font-family: 'Montserrat Bold';
  font-weight: 600;
  font-size: 13px;
  color: #373D3F !important;
}

.sidebar-body {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #373D3F;
}

.sidebar-body a {
  color: gray;
}

.content-title {
  font-family: 'Roboto 500';
}

.sidebar-link a {
  text-decoration: none;
}

.sidebar-link a:hover {
  color: #373D3F;
}

.bg-gray {
  background-color: gray;
}

.bg-lightgray {
  background-color: lightgray;
}

/* Footer */
.social-rounded {
  background-color: #004380;
  color: white;
  width: 50px;
  height: 50px;
  padding-top: 7px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
}

.social-rounded a {
  color: white
}

.social-rounded a:hover {
  color: lightgray
}

.btn-footer {
  background-color: #004380;
  color: white
}

.btn-footer:hover {
  background-color: #004380;
  color: lightgray
}


/* Profile */
.profile-rounded {
  background-color: white;
  color: gray;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  padding-top: 4px;
}

.profile-rounded {
  color: gray
}

.profile-rounded:hover {
  color: lightgray
}

/*
.profile-img {
  border-radius: 50%;
  background-color: none;
  display: inline-block;
}

.profile-img:hover {
 border-radius: 50%;
 width: 45px;
 height: 45px;
} */

.profile-img-container {
  position: relative;
  width: 40px;
}

.profile-img {
  border-radius: 50%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.profile-img-container:hover .profile-img {
  opacity: 0.7;
}

.profile-dropdown-bg {
  background-color: white;
  border-radius: 50%;
}

.profile-dropdown-bg:hover {
  background-color: white;

}

.profile-dropdown-bg:active {
  border-color: red;
}

.search-bar {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 13px;
}

.register-img {
  max-height: 300px;
}

.login-img {
  max-height: 300px;
}

.logo {
  margin-left: 20px;
}

.nav-icon {
  background-color: white;
  color: gray;
}

.nav-icon:hover {
  color: #373D3F;
}

.nav-icon-border {
  width: 35px;
  height: 35px;
}


/* .profile-rounded {
  background-color: white;
  color: gray;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  padding-top: 4px;
}

.profile-rounded {
  color: gray
}

.profile-rounded:hover {
  color: #373D3F
} */

.pagination-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #004380;
}

.book-edit {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #004380;
}

.book-status {
  font-size: 20px;
}

.modal-icon {
  font-size: 100px;
}


.book-home {
  padding: 0 !important;
}

.book-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 11px;
  margin-top: -15px;
  color: #373D3F;
  text-decoration: none;
}

.book-title:hover {
  color: gray;
}

.book-display-link:hover {
  text-decoration: none;
}


.book-link {
  color: #373D3F;
}

.book-link a {
  text-decoration: none;
}

.img-border{
  border-radius: 3%;
}

.footer-title {
  font-family: 'Montserrat';
  font-weight: 600;
}

.home-title {
  font-family: 'Montserrat';
  font-weight: 600;
}

.admin-book-status {
  font-size: 14px
}

.card-title {
  font-family: 'Montserrat Bold';

}