@font-face {
	font-family: 'Roboto 500';
	src: url(roboto.woff2) format('woff2');
}

@font-face {
	font-family: 'Quicksand';
	src: url(quicksand.woff2) format('woff2');
}


body {
  font-family: 'Quicksand';
  font-size: 15px;
  color: #373D3F;
  background-color: white;
}

.container {
  justify-content: center;
  align-items: center;
}

.sidenav {
  height: 100%;
  top: 0;
  position: sticky;
}

.book-title {
  font-family: 'Roboto 500';
  font-size: 14px;
  margin-top: -15px;
}

.sidebar-title {
  font-family: 'Quicksand';
  font-size: 13px;
}

.sidebar-body {
  font-family: 'Roboto 500';
  text-decoration: none;
  color: gray;
}

.sidebar-body a {
  color: gray;
}

.content-title {
  font-family: 'Roboto 500';
}

.sidebar-link a {
  text-decoration: none;
}

.sidebar-link a:hover {
  color: #373D3F;
}

.bg-gray {
  background-color: gray;
}

.bg-lightgray {
  background-color: lightgray;
}

/* Footer */
.social-rounded {
  background-color: lightgray;
  color: gray;
  width: 50px;
  height: 50px;
  padding-top: 7px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
}

.social-rounded a {
  color: gray
}

.social-rounded a:hover {
  color: #373D3F
}

/* Profile */
.profile-rounded {
  background-color: white;
  color: gray;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  padding-top: 4px;
}

.profile-rounded {
  color: gray
}

.profile-rounded:hover {
  color: #373D3F
}

/*
.profile-img {
  border-radius: 50%;
  background-color: none;
  display: inline-block;
}

.profile-img:hover {
 border-radius: 50%;
 width: 45px;
 height: 45px;
} */

.profile-img-container {
  position: relative;
  width: 40px;
}

.profile-img {
  border-radius: 50%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.profile-img-container:hover .profile-img {
  opacity: 0.7;
}

.profile-dropdown-bg {
  background-color: white;
  border-radius: 50%;
}

.profile-dropdown-bg:hover {
  background-color: white;

}

.profile-dropdown-bg:active {
  border-color: red;
}

.search-bar {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 13px;
}

.register-img {
  max-height: 300px;
}

.login-img {
  max-height: 300px;
}

.logo {
  margin-left: 20px;
}

.nav-icon {
  background-color: white;
  color: gray;
}

.nav-icon:hover {
  color: #373D3F;
}

.nav-icon-border {
  width: 35px;
  height: 35px;
}


/* .profile-rounded {
  background-color: white;
  color: gray;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  padding-top: 4px;
}

.profile-rounded {
  color: gray
}

.profile-rounded:hover {
  color: #373D3F
} */

@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}